@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
    @apply mx-auto w-full max-w-3xl px-4 py-12 pb-10 md:px-8;
}

p {
    @apply mb-4;
}

  h1 {
    @apply hidden;
  }
  a {
    @apply hover:text-accent-focus hover:underline;
  }
  .logo {
    @apply font-bold;
  }
  nav ul {
    @apply flex flex-row justify-around items-center list-none p-0 m-0 gap-8 font-semibold lowercase;
  }

/* purge end ignore */
